$canvas-size: 300px;

.game {
    width: 100%;
    height: calc(100vh - #{$header-height});
    position: relative;
    display: flex;
    justify-content: center;

    &__score {
        position: absolute;
        font-size: 38px;
        line-height: 50px;

        @include tsMin {
            line-height: 90px;
        }

        @include smMin {
            line-height: 120px;
        }
    }    
}

.game__start {
    @include display-position;
    border: 2px solid $color-display-border;

    &-button {
        @include button(40%);
    }
}

.game__start-instruction {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    background-color: $color-background;
    padding: 15px;
    z-index: 5;
    box-shadow: 0px 0px 0px 100vh rgba(#000, $alpha: .5);

    &--active {
        display: block;
    }

    &--img {
        height: 50px;
        width: 50px;
        margin-top: 23px;
    }

    &-arrows {
        display: flex;

        &--text {
            margin-left: 20px;
        }
    }

    &-enter {
        display: flex;
        
        &--text {
            margin: 30px 0 0 20px;
        }
    }

    &-button {
        @include button(12%);
    }
}

.game__display {
    @include display-position;
    border: 2px solid $color-display-border;
    
    &-collision-animacion {
        width: $canvas-size;
        height: $canvas-size;
        opacity: .4;
        animation: canvasBlink 1s linear;    
    }
}

.game__over {
    @include display-position;
    position: absolute;
    border: 2px solid $color-display-border;
    overflow: hidden;
    animation: delay 1s;

    &-text {
        content: "GAME OVER";
        width: 280px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 30px;
        
        &.game__over-animation {
            animation: gameOverText 4s .9s linear;
        }
    }

    &-button {
        @include button(30%);
        display: block;
        
        &.game__over-animation {
            display: none;
        }
    }
}

.section__active {
    width: $canvas-size;
    height: $canvas-size;
    display: block;
    box-shadow: inset 0px 0px 10px rgba($color: $color-shadow, $alpha: .5);
}

.game__arrows {
    width: 300px;
    height: 50px;
    margin: auto;
    padding: 0 30px;
    display: none;
    justify-content: space-between;
    position: absolute;
    top: 345px;

    @include tsMin {
        top: 395px;
        padding: 0 15px;
    }

    @include smMin {
        top: 415px;
    }

    @include minHeight {
        width: 230px;
        height: 140px;
        flex-wrap: wrap;
    }

    &--active {
        display: flex;
        
        @include mdMin {
            display: none;
        }
    }
}

.game__arrows-button {
    height: 50px;
    width: 50px;
    background-color: $color-button;
    box-shadow: inset 0px 0px 10px rgba($color: darken($color-primary, 50%), $alpha: .5);
    border: 2px solid $color-button-border;
    cursor: pointer;

    @include tsMin {
        height: 60px;
        width: 60px;
    }

    &--left {
        @include button-arrow(0deg);
    }
    &--up {
        @include button-arrow(90deg);
    }
    &--down {
        @include button-arrow(270deg);
    }
    &--right {
        @include button-arrow(180deg);
    }
    &.arrow-up {
        @include minHeight {
            margin: 0 70px;
        }
    }
}

.arrow-up {
    @include minHeight {
        order: 1;
    }
}

.arrow-left {
    @include minHeight {
        order: 2;
    }
}

.arrow-down {
    @include minHeight {
        order: 3;
    }
}

.arrow-right {
    @include minHeight {
        order: 4;
    }
}