$header-height: 90px;

.header {
    width: 100%;
    height: $header-height;
    background-color: $color-background-header;
    box-shadow: inset 0px 0px 10px rgba($color: $color-shadow, $alpha: .5);
    
}

.header__logo {
    text-align: center;
    line-height: $header-height;
    font-size: 30px;
}