main.game
    .game__score#score 
    section.game__start.section__active#start-section
        button.game__start-button#button-start start
        .game__start-instruction#start-instruction
            .game__start-instruction-arrows
                img(src='../assets/img/arrows_keyboard_move.png').game__start-instruction--img
                h3.game__start-instruction-arrows--text use keyboard arrows or buttons on screen to move snake
            .game__start-instruction-enter
                img(src='../assets/img/enter_keyboard.png').game__start-instruction--img
                h3.game__start-instruction-enter--text press enter to skip
            button.game__start-instruction-button#button-instruction ready
    canvas.game__display#game-section
    section.game__over#game-over-section
        p.game__over-text.game__over-animation
        button.game__over-button.game__over-animation#button-game-over play again
    .game__arrows
        button.game__arrows-button.arrow-left#arrow-button-left
            .game__arrows-button--left.arrow-left
        button.game__arrows-button.arrow-up#arrow-button-up
            .game__arrows-button--up.arrow-up
        button.game__arrows-button.arrow-down#arrow-button-down
            .game__arrows-button--down.arrow-down
        button.game__arrows-button.arrow-right#arrow-button-right
            .game__arrows-button--right.arrow-right