doctype html
head
  title Snake
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='./css/index.css')
  link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=latin-ext")
  //- link(rel="stylesheet", href='./assets/fonts/FILE_ID.DIZ')
  
body
  include partials/_header.pug
  include partials/_game.pug

  script(src='./js/script.js')