@keyframes delay {
    0% { opacity: 0};
    99% { opacity: 0};
    100% { opacity: 1}
}

@keyframes appear {
    from { transform: scale(0)};
    to { transform: scale(1)};
}

@keyframes gameOverText {
    0% { top: -30px; font-size: 8px};
    25% { top: 20%};
    50% { top: 50%};
    75% { top: 20%};
    90% { top: 30%; font-size: 30px};
    95% { top: 30%; font-size: 20px};
    100% { top: 30%; font-size: 30px};
}

@keyframes canvasBlink {
    0% { opacity: .4;}
    25% { opacity: 1;}
    50% { opacity: .4;}
    75% { opacity: 1;}
    100% { opacity: .4;}
}