$color-primary: #9bba5a;

$color-background: $color-primary;
$color-background-gameover: #445424;
$color-background-startgame: #445424;
$color-background-header: #445424;
$color-display-border: #445424;
$color-snake: #445424;
$color-button: $color-primary;
$color-button-border: #445424;
$color-buttom-arrow: #000;
$color-shadow: #000;
