  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
  } 
  
  body {
    width: 100%;
    height: 100vh;
    background-color: $color-background;
    font-family: 'Press Start 2P', cursive;
  }
  
  h1 {
    margin: 0;
  }