@mixin button($bottom) {
    position: absolute;
    bottom: $bottom ;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 8px 8px 12px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: $color-button;
    box-shadow: inset 0px 0px 10px rgba($color: darken($color-primary, 50%), $alpha: .5);
    border: 2px solid $color-button-border;
    border-radius: 30px;
    cursor: pointer;
}
@mixin display-position {
    display: none;
    position: relative;
    top: 40px;
    margin: 0 auto;
    
    @include tsMin {
        top: 85px;
    }

    @include smMin {
        top: 100px;
    }
}

@mixin button-arrow($rotate) {
    height: 0;
    width: 0;
    border-right: 25px solid $color-buttom-arrow;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transform: rotate($rotate);
    margin: auto;
}